
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set chosenDateHtml %}
      {{ govukDateInput({
        id: "chosen-map-date",
        namePrefix: "chosen-map-date",
        fieldset: {
          legend: {
            text: "Chosen date"
          }
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "stopped-work",
        name: "stopped-work",
        fieldset: {
          legend: {
            text: "Has the claimant provided a date they would like the Maternity Allowance Period to start?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: chosenDateHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
