
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        User Research Private Beta
      </h1>

      <h2 class="govuk-heading-m">Round 1: 20 October 2021</h2>

      <p><a href="/iteration-1/" class="govuk-body govuk-!-font-weight-bold">Prototype iteration 1</a></p>

      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Design decisions"
          },
          content: {
            html:
            '<ul class="govuk-list govuk-list--bullet">
              <li>We went for the simplest option of playing back all of the information we expected would be needed by agents in a flat summary list.</li>
              <li>We avoided change links until a point where users tell us that they&rsquo;re necessary.</li>
              <li>To interact with the &lsquo;Matching&rsquo; GZ we need to gather full name, date of birth and postcode.</li>
              <li>We will use DWP standard pattern for full name input. Not using &ldquo;(excluding titles)&rdquo; in iteration 1 - explore through UR.</li>
              <li>For the data gather, we&rsquo;ve put three (related) things on one page, as opposed to putting them on separate pages, in the interests of speed of input, because this is an agent facing service.</li>
              <li>When on separate pages, it allows users to digest the content easier, but this is for quick, speedy, input and doesn&rsquo;t need to be digested as it&rsquo;ll be used many times per day.</li>
              <li>We have re-used patterns from the Bereavement Support Payment agent-facing service as these data-gather elements have been tested with DWP agents.</li>
            </ul>'
          }
        },
        {
          heading: {
            text: "Hypotheses"
          },
          content: {
            html:
            '<ul class="govuk-list govuk-list--bullet">
            <li>We believe the award details are the most important thing to see, and that some agents will not need to look at the rest of the information on the screen.</li>
            <li>We believe that some agents will need to see more information to support the claim and decision, and will get that from the rest of the page.</li>
            <li>We can measure (through UR) how many agents look at the rest of the page, and observe how they view and interact with the content and information available.</li>
            </ul>'
          }
        },
          {
          heading: {
            text: "Research notes"
          },
          content: {
            html: "<p class='govuk-body'>Number of participants: 5</p>"
          },
          content: {
            html:
            '<ul class="govuk-list govuk-list--bullet">

            <li>Number of participants: 5</li>
            <li>Overall this was well received by agents. They understood that this was a service that was intended for their use, just not exactly what it would do.</li>
            <li>There were no issues with the data capture.</li>
            <li>There was an expectation that this information would be saved if they needed to leave the claim or BF it at any point.</li>
            <li>Some agents did notice that the date last worked was not shown on the summary page.</li>
            <li>Agents did not understand where the information on the summary page had come from to form the decision.</li>
            <li>However, it did seem like there was a greater level of trust in this information than there was during the previous scenario-based research.</li>
            <li>The MAP was something agents expected to see as part of this decision, or as the next step in the process.</li>
            <li class ="govuk-!-font-weight-bold">Some future areas to consider: call to action, date last worked, MAP, earnings test.</li>
            </ul>'
          }
        }
      ]
    }) }}

    </div>
      </div>

      <p>
        <a href="alpha.html" class="govuk-body">Alpha User Research</a>
      </p>
{% endblock %}
