
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        User Research Private Beta
      </h1>

      <h2 class="govuk-heading-m">PB Round 1: 5 May 2022</h2>

      <p><a href="/beta-private/iteration-1/" class="govuk-body govuk-!-font-weight-bold">Prototype iteration 1</a></p>

      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Design decisions"
          },
          content: {
            html:
            '<ul class="govuk-list govuk-list--bullet">
              <li>As we move into the Private Beta phase we have rearranged the prototype to group iterations tested in Alpha phase together. Private Beta iterations will sit in a new folder.</li>
              <li>At the start of the journey we have created a simple landing page from which the agent will choose the type of activity they need to complete: Start a claim or Find a claim.</li>
              <li>We were unable to find any established patterns from other agent-facing services, so have created something new.</li>
              <li>We considered radio buttons but felt this created additional effort for the user. We also considered plain links on the page but this looked aesthetically odd. We have used Gov Blue and created a large target area for each option which we believe will be easy for agents to use as they progress through their workload.</li>
              <li>We also considered having a default state for agents such as Start a claim, and an option for agents to move from that default state to Find a claim if they needed to, but this felt complicated, and there is no clear indication of what a default selection should be.</li>
              <li>The data gather questions have been changed from conditional reveals to radio questions with date input on a following page. This removes Accessibility concerns raised around the conditional reveal.</li>
              <li>We have changed the format of the pages to have a short H1 and a following question - we hope that this will help users to enter the correct dates on each page.</li>
              <li>On the Summary we have changed our tags to be blue and lowercase to see if this aids readability and removes any potential bias or assumptions related to the colour of tags.</li>
              <li>We have added the name of the employer as we can gather this from RTI. We have used the name registered with Companies House as this is what HMRC can provide to us.</li>
              <li>As we have built a good level of trust among agents and a longer period of time has lapsed since we last tested with them, we want to explore whether we can remove some information from the Summary page and maintain that agent trust and confidence. The first thing we have decided to remove is the dates used for the Employment and Earnings tests.</li>
              <li>Research has shown that agents expect to find a claim using the claimant&rsquo;s National Insurance Number so we have used that for the Find a claim search.</li>
              <li>At this time we have not included anything for a security check, as agents have indicated there may be enough information on the summary page to confirm the claimant&rsquo;s identity through standard questions. We may need to amend this if additional ID&V requirements are exposed.</li>
            </ul>'
          }
        },
        {
          heading: {
            text: "Hypotheses"
          },
          content: {
            html:
            '<ul class="govuk-list govuk-list--bullet">
            <li>We believe the new H1 and subsequent question will help agents to enter the required dates in the right places.</li>
            <li>We believe that we can remove the dates used for the Employment and Earnings tests because the highest earning weeks are detailed further down the page, and that the agent will trust the system has worked out the correct number of weeks for the Employment test.</li>
            <li>NOTE: For scenarios where the Employment test is NOT met, we believe we will need to provide additional information such as the number of weeks they were employed, by whom, and when.</li>
            </ul>'
          }
        },
          {
          heading: {
            text: "Research notes"
          },
          content: {
            html: "<p class='govuk-body'>Number of participants: </p>"
          },
          content: {
            html:
            '<ul class="govuk-list govuk-list--bullet">

            <li>Number of participants: </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class ="govuk-!-font-weight-bold">Some future areas to consider: call to action, date last worked, MAP, earnings test.</li>
            </ul>'
          }
        }
      ]
    }) }}

    </div>
      </div>

      <p>
        <a href="alpha.html" class="govuk-body">Alpha User Research</a>
      </p>
{% endblock %}
