
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Maternity Allowance
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/iteration-1/" class="govuk-body govuk-!-font-weight-bold">Iteration 1</a>
        </li>
        <li>
          <a href="/iteration-2/" class="govuk-body govuk-!-font-weight-bold">Iteration 2</a>
        </li>
        <li>
          <a href="/iteration-3/" class="govuk-body govuk-!-font-weight-bold">Iteration 3</a>
        </li>
        <li>
          <a href="/iteration-4/" class="govuk-body govuk-!-font-weight-bold">Iteration 4</a>
        </li>
      </ul>

      <br />
      <p><a href="/ur/" class="govuk-body govuk-!-font-weight-bold">User Research</a></p>

    </div>
  </div>

{% endblock %}
