
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Maternity Allowance
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/iteration-1/" class="govuk-body govuk-!-font-weight-bold">Iteration 1</a>
        </li>
        <li>
          <a href="/iteration-2/" class="govuk-body govuk-!-font-weight-bold">Iteration 2</a>
        </li>
        <li>
          <a href="/iteration-alt/" class="govuk-body govuk-!-font-weight-bold">Alternative 1</a>
        </li>
        <li>
          <a href="/iteration-alt-tabs/" class="govuk-body govuk-!-font-weight-bold">Alternative 2</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
